@import url("https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Nanum+Gothic:wght@400;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

i {
  font-size: 28px;
}

body {
  color: white;
  font-family: "Nanum Gothic", sans-serif;
  line-height: 1.75;
}

.container {
  height: 100vh;
  background-image: url("../images/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  display: flex;
  align-items: center;
  padding: 40px;
  /* position: absolute; */
  position: fixed;
  width: 100%;
  z-index: 1;
}

.logo {
  margin-right: auto;
}

.logo img {
  width: 50px;
}

.sign {
  margin-left: 70px;
}

.sign img {
  width: 16px;
}

.bars {
  display: none;
}

.menu {
  display: flex;
  gap: 60px;
}

.menu a {
  background-color: transparent;
  padding: 6px 15px;
  border-radius: 40px;
  border: 1px solid transparent;
  transition: all 0.6s;
}

.menu a:hover {
  border: 0.5px solid rgb(100, 2, 55);
  background-color: rgba(255, 255, 255, 0.7);
  color: rgb(0, 0, 0);
}
/* 
.menu a.on {
  background-color: rgba(255, 255, 255, 0.7);
  color: rgb(0, 0, 0);
}
 */
.social {
  position: fixed;
  top: 50%;
  right: 40px;
  display: flex;
  flex-direction: column;
  transform: translateY(-85%);
  gap: 40px;
}

.social i {
  color: #ffffffb6;
  transition: all 0.6s;
}

.social a:hover i {
  color: #fff;
}

.title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.title h2 {
  font-family: "Corben", cursive;
  font-size: 100px;
}

.title p {
  font-size: 25px;
  opacity: 0.8;
  width: 60%;
  margin: 0 auto;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

.footer i {
  color: #ffffffb7;
  transition: all 0.5s;
}

.footer a:hover i {
  color: #fff;
}

@media (max-width: 768px) {
  .menu {
    position: absolute;
    flex-direction: column;
    background-color: rgba(100, 2, 55, 0.9);
    width: 100%;
    height: 100vh;
    top: 130px;
    left: 100%;
    padding: 40px;
    padding-top: 100px;
    gap: 15px;
    transition: left 0.3s;
  }

  .active {
    left: 0;
  }

  .title h2 {
    font-size: 50px;
    padding: 0 20px;
  }

  .title p {
    font-size: 12px;
    padding: 0 40px;
    width: 80%;
  }

  .social {
    display: none;
  }

  .sign {
    display: none;
  }

  .bars {
    display: block;
    z-index: 1;
  }
}

@media (max-width: 470px) {
  .title h2 {
    font-size: 36px;
  }

  .title p {
    width: 90%;
  }
}
